#requirements.txt

psycopg2-binary
python-decouple
Pillow
djangorestframework-jwt
djangorestframework-simplejwt
coverage
drf-yasg
stripe
django-celery-beat
redis
celery
django-celery-beat
django-filter>=2.0

