# Игнорировать все __pycache__ директории
__pycache__/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать базы данных SQLite (если используются)
*.sqlite3

# Игнорировать файлы, связанные с медиа и статикой
/media/
/static/

# Игнорировать файлы, связанные с настройками разработки
*.log
*.pot
*.pyc
*.pyo
*.rej
*.swo
*.swp
*.swpx
*.tgz
*.vi
*~
*.bak
*.orig
db.sqlite3-journal

# Игнорировать файлы IDE и редакторов
# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/

# Игнорировать файлы, связанные с виртуальным окружением
venv/
myenv/

# Игнорировать файлы, связанные с системой
*.DS_Store
Thumbs.db

# Игнорировать локальные файлы с настройками
.local_settings.py

# Игнорировать файлы .env (где хранятся переменные окружения)
.env
